@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&family=Zilla+Slab:ital,wght@1,600&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    
}

.overflow-y-scroll::-webkit-scrollbar {
        width: 15px;
    }
    .overflow-y-scroll::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.212);
        padding: 10px;
    }
    .overflow-y-scroll::-webkit-scrollbar-thumb {
        background: #03071e7c;
        
    }

body::-webkit-scrollbar{
    width: 0;
}

.drop-shadow-xl{
    filter:drop-shadow(1px 0px 4px white)!important;
}